body {
    font-family: Consolas, monospace;
  }
  h1 {
    color: crimson;
  }
  label {
    color: blue;
    background-color: #333333;
    font-family: Consolas, monospace;
    color: #ffffff;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
  }

  form {
    text-align: center;
    margin-top: 50px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  #rom-file {
    margin-bottom: 20px;
  }

  #load-button {
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }

  #screen {
    display: block;
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #000000;
  }

  #tv-buttons {
    position: relative;
    top: -50px;
    width: 256px;
    height: 240px;
    background-image: url('nes-buttons.png');
    background-repeat: no-repeat;
  }

  #tv-buttons button {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  #tv-buttons #power-button {
    top: 23px;
    left: 205px;
    width: 41px;
    height: 37px;
  }

  #tv-buttons #reset-button {
    top: 116px;
    left: 214px;
    width: 29px;
    height: 16px;
  }

  #tv-buttons #a-button {
    top: 152px;
    left: 218px;
    width: 18px;
    height: 17px;
  }

  #tv-buttons #b-button {
    top: 127px;
    left: 239px;
    width: 18px;
    height: 17px;
  }