html, body {
    height: 100%;
}  

body {
    background-color: black;
    color: white;
    font-family: Consolas, sans-serif;
    margin: 0;
    padding: 0;
}


.highlight {
    background-color: #FFF8DC;
    color: #333;
}

#main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.side-bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 220px;
    background-color: dimgray;
    padding: 10px;
    display: flex;
    align-items: end;
}

.command-prompt {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}

#command-input {
    width: 100%;
    height: 20px;
    font-size: 12px;
    background-color: white;
    border: none;
    color: black;
    caret-color: black;
}

.image-container {
    position: relative;
    margin-bottom: 60px;
    text-align:center;
    flex: auto;
}

.image-container img {
    width: 622px;
    height: 1134px;
}

.image-container:first-child {
    margin-top: 600px;
}

.image-container:first-child .image-caption {
    margin-top: -590px;
}

.image-container:nth-child(2) img {
    margin-left: -200px;
}

.image-container:hover img {
    border: 2px solid #8FBC8F;
}

.image-caption {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.black-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: black;
}

.message {
    text-align: center;
    font-size: 24px;
}
